@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

  body {
    background-color:#eeeeee;
    color: #141414;
    font-family: 'Ubuntu';
    font-size: 12px;
    }

/* Top navigation bar */
.navBar {
  overflow: hidden;
  }

/* Navbar styling */
.navBar a {
    display: block;
    padding: 12px 24px 12px 12px;
    text-decoration: none;
    color: #757371; 
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    }

/* Hovering over navbar item */
.navBar a:hover {
    color: #7ac3a8;

}

/* Current link on navbar */
.navBar a.active {
    color: #7ac3a8;
}

/* The grid container */
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-template-columns: 30% 35% 35%;
  grid-template-areas:
  "left middle right"
} 

/* Left column styling */
.left {
  grid-area: left;
  position: relative;
 background-color: rgba(122, 195, 168, 0.4);  
}

/* Right column styling */
.right {
  grid-area: right;
  position: relative;
  background-color: rgba(122, 195, 168, 0.4);

}

/* Middle column styling */
.middle {
  grid-area: middle;
  position: relative;
  background-color: rgba(122, 195, 168, 0.4);

}

.footer {
  grid-area: footer;
}

.profilePic {
  width: 250px;
  margin: 100px;
  border-radius: 10px;
}

.nameTitle {
  text-transform: uppercase;
  color: black;
  letter-spacing: 12px;
  font-size: 50px;
  text-align: center;  
  font-weight: bold;
  margin-top: 100px;

}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 300px;
  margin-left: 105px;
  margin-top: -30px;
}

hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.content {
  text-align: center;
  font-size: 1.25em;
}

.academicTitle {
  text-align: center;
  color: #4b806c;
}

.question {
  margin-top: 100px;
  text-align: center;
}

.linkedIn {
  margin-top: 80px;
  margin-left: 215px;

}

h1 {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin-top: 100px;

}

h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: 25px;

}

.albumCover {
  width: 300px;
  border: 7px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 165px;

}

.listPosition {
  list-style-position: inside;
  text-align: center;
  list-style-type: none;

}

.hedgehog {
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;

}

progress {
  -webkit-appearance: none;
  width: 70%;
}
progress::-webkit-progress-value {
 -webkit-appearance: none;
 background-color: #4b806c;
}

progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eeeeee;
 }

#studiemonitor {
  border-collapse: collapse;
  width: 100%;
}

#studiemonitor td, #studiemonitor th {
  border: 1px solid #4b806c;
  padding: 8px;
}

#studiemonitor tr:nth-child(even){background-color: #f2f2f2;}
#studiemonitor tr:nth-child(odd){background-color: #dbdbdb;}
#studiemonitor tr:hover {background-color: #ddd;}

#studiemonitor th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4b806c;
  color: white;
}

