@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');
/* Body styling */
body {
    background-color:#eeeeee;
    color: #141414;
    font-family: 'Ubuntu';
    font-size: 12px;
    }

/* Top navigation bar */
.navBar {
  overflow: hidden;
  }

/* Navbar styling */
.navBar a {
    display: block;
    padding: 12px 24px 12px 12px;
    text-decoration: none;
    color: #757371; 
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    }

/* Hovering over navbar item */
.navBar a:hover {
    color: #7ac3a8;
}

/* Current link on navbar */
.navBar a.active {
    color: #7ac3a8;
}

/* The grid container */
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "left middle right"
} 

/* Left column styling */
.left {
  grid-area: left;
  position: relative;
  background-color: rgba(122, 195, 168, 0.4);  
}

/* Right column styling */
.right {
  grid-area: right;
  position: relative;
  background-color: rgba(122, 195, 168, 0.4);
}

/* Middle column styling */
.middle {
  grid-area: middle;
  position: relative;
  background-color: rgba(122, 195, 168, 0.4);
}

/* Picture on index page */
.profilePic {
  width: 250px;
  margin: 100px;
  border-radius: 10px;
}

/* Name as title on index page*/
.nameTitle {
  text-transform: uppercase;
  color: black;
  letter-spacing: 12px;
  font-size: 50px;
  text-align: center;  
  font-weight: bold;
  margin-top: 100px;
}

/* Horizontal line styling */
hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 300px;
  margin-left: 95px;
  margin-top: -30px;
}
hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* Overall content styling */
.content {
  text-align: center;
  font-size: 1.25em;
}

/* Study title on index page */
.academicTitle {
  text-align: center;
  color: #4b806c;
  margin-right: 50px;
  margin-top: 30px;
}

/* Questions on index page*/
.question {
  margin-top: 100px;
  text-align: center;
}

/* LinkedIn logo link */
.linkedIn {
  margin-top: 80px;
  margin-left: 190px;
}

/* Header styling */
h1 {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin-top: 100px;
}
h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-left: 25px;
}

/* Picture of album cover on profile page */
.albumCover {
  width: 300px;
  border: 7px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 165px;
}

/* Unordered lists on profile page */
.listPosition {
  list-style-position: inside;
  text-align: center;
  list-style-type: none;
}

/* Hedgehog picture*/
.hedgehog {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

/* Progress bar */
progress {
  -webkit-appearance: none;
  width: 70%;
}

/* Progress bar value */
progress::-webkit-progress-value {
 -webkit-appearance: none;
 background-color: #4b806c;
}

/* Progress bar itself */
progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: #eeeeee;
}

/* Table on dashboard */
#studiemonitor {
  margin-top: 55px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}
#studiemonitor td, #studiemonitor th {
  border: 1px solid #4b806c;
  padding: 8px;
}
#studiemonitor tr:nth-child(even){background-color: #f2f2f2;}
#studiemonitor tr:nth-child(odd){background-color: #dbdbdb;}
#studiemonitor th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4b806c;
  color: white;
}
a {
  text-decoration: none;
}

/* Buttons on dashboard*/
.btn-container {
	margin-top: 200px;
}
a.btn, .diamondBtn {
	color: #4b806c;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid #4b806c;
  border-bottom-width: 3px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-bottom: 5px;
}
a.btn:hover {
  background-color: #dbdbdb;
  border-color: rgba(0,0,0,0.5);
}

/* Diamond button extra styling */
.diamondBtn {
  width: 150px;
  margin-top: 330px;
  margin-left: 0;
}

/*Grid container for motivation page*/
.motivationGrid{
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "middle"
} 

/*Content styling for motivation page*/
.motivationContent{
    text-align: left;
    font-size: 1.20em;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 1.6;
}

.motivationSubTitles {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: left;
}


/* Image styling for beroepsbeeld page*/
.workPicOdd {
  width: 400px;
  border-radius: 5px;
  padding: 20px;
}

.workPicEven {
  width: 400px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 130px;
}

.workContainer {
  display: grid;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
  grid-template-areas:
  "left middle right"
} 